body {
  background-color: #09090b;
  color: #f4f4f5;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
